@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

aside {  
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 40%;
  left: 0;
  overflow: none;
  margin: 0 auto;
  align-items: center;
  /* border: 2px solid black; */
}

/* aside #arrow-toggle {
  
} */

/* aside #arrow-toggle:hover {
  cursor: pointer;
} */

aside:hover #arrow-toggle {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


.aside-container {
  /* display: flex; */
  display: none;
  background-color: transparent;
  align-items: center;
  justify-content: flex-start;
  transition: 0.5s; 
  overflow: none;
  z-index: 3;
}

/* -------------------------------------------BOTTOM NAV START----------------------------------------------------- */
.side-navbar {
  background-color: transparent;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  list-style: none;
  min-width: auto;
  background-color: white;
}
/* -------------------------------------------BOTTOM NAV FINISH----------------------------------------------------- */

/* -------------------------------------------DROP UP BUTTON PART START----------------------------------------- */
.dropbtn {
  background-color:transparent;
  display: flex;
  color: black;
  font-size: 18px; 
  border: none;
  margin: 15px 0px;
  padding: 0px 40px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
}
.dropbtn:first-child {
  margin-top: 20px;
}
.dropbtn:last-child {
  margin-bottom: 20px;
}
.dropbtn:hover, .dropbtn:focus {
  transform: translateY(-0.15em); 
}
/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display: inline-block;
}
/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  border-radius: 10px;
  min-width: 160px;
  z-index: 1; 
}
/* Links inside the dropup */
.dropup-content a {
  color: black;
  margin: 10px 20px;
  padding: 5px;
  text-decoration: none;
  display: block;
}
/* Change color of dropup links on hover */
.dropup-content a:hover {
  background-color: #ddd;
  margin-left: 8px;
  border-radius: 5px;
}
.show {
  display: block;
}
/* Show the dropup menu on hover */
/* .dropup:hover .dropup-content {
  display: block;
}
.dropup#search:hover .dropup-content#search{
  display: flex;
} */
.search-input {
  padding: 7px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid grey;
}
.search-btn {
  padding: 7px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid grey;
}
.search-btn:hover {
  transform: translateY(-0.15em); 
}
/* -------------------------------------------DROP UP BUTTON PART FINISH--------------------------------------*/

.progress-wrapper {
  width: 100%;
  display: flex;
}
.progress-wrapper .progress {
  background-color:green;
  width: 0%;
  margin: 5px 0 2px 0;
  padding: 10px 0;
}
form#progress-bar-file1 {
  font-size: 30px;
}

button#upload-btn {
  display: flex;
  padding: 10px 20px;
  border: 1pt solid lightgrey;
  border-radius: 10px;
}

button#upload-btn:hover {
  transform: translateY(0.15em); 
}



/*------------------------------------------------TABLE INFO START--------------------------------------------*/

/*-------------------------------------------TABLE INFO END------------------------------------------*/





/* Change the background color of the dropup button when the dropup content is shown */
/* .dropup:hover .dropbtn {
  background-color: #2980B9;
} */
 /* .modal.modal-left .modal-dialog, .modal.modal-right .modal-dialog {
    max-width: 380px;
    min-height: calc(100vh - 0px);
}
.modal.modal-left.show .modal-dialog, .modal.modal-right.show .modal-dialog {
    transform: translate(0, 0);
}
.modal.modal-left .modal-content, .modal.modal-right .modal-content {
    height: calc(100vh - 0px);
    overflow-y: auto;
}
.modal.modal-left .modal-dialog {
    transform: translate(-100%, 0);
    margin: 0px auto 0 0;
}
.modal.modal-right .modal-dialog {
    transform: translate(100%, 0);
    margin: 0px 0 0 auto;
} */
